div{
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 15% 80% 5%;
    grid-template-columns: repeat(6,1fr); /*חלוקה שווה של עמודות*/


}

header, footer{
    grid-column: span 6;
}

main{
    grid-column: span 5;
    overflow: auto;
}

div, div > *  /*כוכבית = על הכל*/{
    border: 1px solid white;
}

