<div>
  <app-search></app-search>
  <app-clock></app-clock>
  <app-slogan slogan="1 test"></app-slogan>
  <app-slogan slogan="2 test"></app-slogan>
  <app-tip> hi <strong>Netanel Maman</strong> </app-tip>

  <app-tip>
    <span class="subject"> bla bla test</span>
    test <strong> 1234 </strong> is O.K</app-tip>
    <app-survey question="How is our service quality?" (report)="display($event)"></app-survey>
    <app-location></app-location>

    <!-- Pipe -->
    <app-gift-card></app-gift-card>

<app-discount></app-discount>
<app-sales></app-sales>
</div>
